Setlist { 
     color: white; 
     background-color : purple; 
     width: 100%; 
     text-align: center;
     padding-bottom: 20px;
} 
 header { 
     color: white; 
     font-size : 45px; 
     background-color : gray; 
     padding: 20px;
} 
 header, Song, name, artist, genre, year { 
     display : block; 
} 
name { 
	 padding: 10px;
     font-size : 30px; 
     font-weight : bold; 
}
